* {
    box-sizing: border-box;
  }
  *:last-child {
    margin-bottom: 0;
  }

  html {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    background-color:#fff;
  }
  .wrapper{
  overflow: hidden;
  }
  .container {
    max-width: 932px;
    padding: 0 16px;
    margin: 0 auto;
  }
  .container-md{
    max-width: 1092px;
    padding: 0 16px;
    margin: 0 auto;
  }
  a{
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  .logo{
    color: #0F2D47;
    font-size: 28px;
  line-height: 35px;
  }
  img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
  
  figure {
    margin: 0;
  }
  
  p,
  ul,
  ol {
    margin: 0 0 16px 0;
  }
  
  * + p,
  * + ul,
  * + ol {
    margin-top: 16px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 0.67em 0;
  }
  
  * + h1,
  * + h2,
  * + h3,
  * + h4,
  * + h5,
  * + h6 {
    margin-top: 0.67em;
  }
  
