.button {
    display: block;
    margin: 0;
    border: 1px solid transparent;
    border-radius: 30px;
    font-size: 16px;
    line-height: 19px;
    font-family: inherit;
    padding: 16px;
    font-weight: 800;
    text-decoration: none;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    
  }
  .button:hover {
    text-decoration: none;
  }
  .button:focus {
    outline: none;
  }
  .button-full {
    width: 100%;
  }
  
  .button-primary{
    background-color: #007AC2;
    box-shadow: 2.5px 3.2px 9px rgba(0, 0, 0, 0.35);
    text-align: center;
    color:#fff;
    width: 100%;
  }