
.section{
    position: relative;
    margin: 80px 0px;
}
.section.section-passports{
  position: relative;
  margin-top: 0px;
}
  .section-background,
  .section-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .section-background {
    z-index:-2;
  }
  .section-background > img {
    height: 100%;
  }
  .section-overlay {
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.37);
  }
  
  .block-image-passports{
    position: relative;
  max-width: 530px;
  margin: 0 auto;
  padding: 20px 0px;
  }
  

 .image-passports > img{
  max-height: 310px;
  max-width: 215px;
  margin: 0 auto;
 }
 .image-passports__secondary{
   position: absolute;
   top: 17px;
   right: 78px;
   transform: rotate(6.61deg);
 }

 .section-investment{
  margin-top: 33px;
 }
 .investment__title{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 28px;
  line-height: 150%;
  text-align: center;
 }
 .section-investment__sub-titll{
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
color: #000000;
 }
.investment__var-text{
color: #000000;
}
 .investment__description{
  $color-desc:#0000;
  line-height: 171%;
 }
.investment__block{
  display: flex;
}
.investment__img > img{
max-width: 442px;
max-height: 81px;
margin: 0 auto;
}
.investment__img {
  margin-top: 25px;
}
.eclipse-control{
 color:#25EEFF;
 width: 16px;
 margin-right: 13px;
margin-top: 5px;
}
.section-why{
  margin-top: 33px;
}
.section-why__title{
font-family: 'Raleway', sans-serif;
font-weight: 600;
font-size: 23px;
line-height: 36px;
color: #000000;
}
.section-why__photo > img{
max-width: 263px;
max-height: 381px;
margin: auto;
}
.investment__var-text-0{
  margin-top: 5px;
}
.section-form{
  margin-top: 30px;
}
.section-form__title{
font-family: 'Roboto', sans-serif;
font-size: 24px;
line-height: 60px;
margin-bottom: 5px;
text-align: center;
color: #000000;
}
.section-form__confidentiality{
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 12px;
color: #ADAAAA;
margin-top: 6px;
}
.section-form__img{
  margin: 25px 0px;
}
.section-form__img > img{
max-width: 905px;
margin: 0 auto;
}
.section-cash-back__title{
  font-family: 'Raleway', sans-serif;
font-weight: 600;
font-size: 24px;
line-height: 36px;
color: #000000;
}
.section-advantages__title{
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  line-height: 36px;
}
.section-advantages__block-description{
  margin-top:40px;
}
.section-advantages__description{
  font-family:'Raleway', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 36px;
color: #0083CA;
}
.section-advantages__img-secondary{
  margin-top: 30px;
}
.section-residents{
max-width: 1135px;
margin: 0 auto;

}
.section-background-residents{
  z-index:-2;
}
.section-background-residents,
.section-overlay-residents{
  position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.section-overlay-residents{
background-color: rgba(0, 0, 0, 0.3);
z-index: -1;
}
.section-background-residents > img {
  height: 100%;
}
.section-residents__content{
  padding: 52px 16px 32px;
  max-width: 932px;
  margin: 0 auto;
}
.section-residents__title{
font-family:'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 36px;
text-align: center;
color: #FFFFFF;

}
.section-who2020__img > img{
  max-width: 327px;
  max-height: 306px;
  margin: auto;
}
.section-residents__text{
  color: #FFFFFF;
}
.rhombus-control{
  color: #00AEEF;
  margin-right: 5px;
  margin-top: 4px;
}
.section-who2020__text{
  margin-top: 0px;
}
.section-who2020__block{
  display: flex;
  
}
.section-duties__title{
  font-family:'Raleway', sans-serif;
font-weight: 600;
font-size: 24px;
line-height: 36px;
color: #000000;
text-align: center;
}
.section-duties__img > img{
max-width: 441px ;
max-height:100%; 
margin: auto;
}
.telegram{
  position: relative;
  background-color: #00ACEC;
  max-width: 1366px;
  margin: 0 auto;
  height: 128px;
  display: flex;
  align-items: center;
}
.telegram__img{
  position: absolute;
}
.telegram__img > img{
  max-width: 160px;
}
.section-whereby{
position: relative;
}
.section-whereby__title{
  font-family: 'Raleway', sans-serif;
font-weight: bold;
font-size: 36px;
line-height: 48px;
color: #0083CA;
}
.section-whereby__title-secondary{
  font-family:'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}
.section-whereby__link{
  background: #0083CA;
  padding: 5px 22px;
  position: absolute;
  bottom: 0;
}
.section-whereby__link a{
  color: #FFFFFF;
}
.section-residents__text-control{
margin-right: 10px;
}
.section-fast__img > img{
  max-width: 327px;
  max-height: 276px;
}
.section-fast__title{
font-family:'Raleway', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 150% ;
color: #000000;
}
.section-fast__img>img{
  margin: 0 auto;
}
.section-fast__desc{
  font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 24px;
}
@media(min-width:320px){
  .section{
    margin: 40px auto;
}
.image-passports__secondary {
  right: 48px;
}
.section-form__img{
display: none;
}
.section-advantages__block-description{
  margin-top: 10px;
}
.section-advantages__description{
  text-align: center;
}
.section-advantages__img-secondary{
  display: none;
}
.section-who2020__img>img{
  max-width: 100%;
}
.section-whereby__title{
text-align: center;
}
.section-whereby__title-secondary{
  text-align: center;
}
.section-whereby__link{
position: static;
}
.section-fast__img>img{
  max-height: none;
  max-width: 100%;
  display: none;
}
}
@media(min-width:480px){
  .section{
    margin: 50px auto;
}
.image-passports__secondary {
  right: 83px;
}
.section-form__img{
display: block;
}
.section-whereby__title {
  text-align: start;
}
.section-whereby__title-secondary {
  text-align: start;
}
.section-whereby__link {
  position: absolute;
}
.section-fast__img>img {
  display: block;
}
}
@media(min-width:640px){
  .section-why__photo>img {
    margin: 0px;
}
.section-form__img {
  margin: 45px 0px;
}
.section-advantages__description {
  font-size: 24px;
  line-height: 36px;
  text-align: start;
}
}
@media(min-width:780px){
.section-fast__img>img {
  display: block;
}

.section-form__img {
  margin: 65px 0px;
}
.section-advantages__block-description {
  margin-top: 80px;
}
}
@media(min-width:960px){
  .section{
    margin: 80px auto;
}
  .section-form__title{
    
    text-align: start;
    }
    .section-form__img {
      margin: 95px 0px 80px 0px;
  }
  }