$color:#0000;
.section{
    position: relative;
    max-height: 400px;
}
  .section-background,
  .section-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .section-background {
    z-index:-2;
  }
  .section-background > img {
    height: 100%;
  }
  .section-overlay {
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.37);
  }
  .block-image-passports{
  display: flex;
  justify-content: center;
  }
  
 .image-passports > img{
  max-height: 310px;
  max-width: 215px;
 }
 
 .section-investment{
  margin-top: 33px;
 }
 .investment__title{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 28px;
  line-height: 150%;
  text-align: center;
 }
 .section-investment__sub-titll{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
 }
.investment__var-text{
color: #000000;
}
 .investment__description{
  $color-desc:#0000;
  line-height: 171%;
 }
.investment__block{
  display: flex;
}
.investment__img > img{
max-width: 442px;
max-height: 81px;
margin: 0 auto;
}
.investment__img {
  margin-top: 25px;
}
.eclipse-control{
 color:#25EEFF;
 width: 16px;
 margin-right: 13px;
margin-top: 5px;
}
.section-why{
  margin-top: 33px;
}
.section-why__title{
  font-family: 'Raleway', sans-serif;
}
.section-why__photo > img{
max-width: 263px;
max-height: 381px;
}
.investment__var-text-0{
  margin-top: 5px;
}
.section-form{
  margin-top: 30px;
}
.section-form__title{
  line-height: 24px;
  margin-bottom: 5px;
  text-align: center;
}
.section-form__confidentiality{
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 12px;
color: #ADAAAA;
margin-top: 6px;
}
.section-form__img{
  margin: 25px 0px;
}
.section-form__img > img{
max-width: 905px;
margin: 0 auto;
}
.section-advantages{
  margin-top: 25px;
}
.section-advantages__title{
  font-family: 'Raleway', sans-serif;
}
.section-advantages__block-description{
  margin-top:40px;
}
.section-advantages__description{
  font-family: Raleway, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 28px;
color: #0083CA;
}
.section-advantages__img-secondary{
  margin-top: 30px;
}